<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pizza_Project.Properties.Settings.Local_Data_LoginConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Zak\Desktop\PizzaWPF\Pizza_Project\Pizza_Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Pizza_Project.Properties.Settings.Pizza_PriceConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Pizza_Price.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Pizza_Project.Properties.Settings.RegisterConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Register.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Pizza_Project.Properties.Settings.Register_Data_informationConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Register_Data_information.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Pizza_Project.Properties.Settings.DB_UserREGConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\DB_UserREG.accdb"
            providerName="System.Data.OleDb" />
        <add name="Pizza_Project.Properties.Settings.DB_UserREGConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\DB_UserREG.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>